nav ul li {
  display: inline;
  padding-left: 200px;
}
nav ul li a {
  color:pink;
  text-transform: uppercase;
}
.intro {
  position: relative;
  text-align: center;
  color: grey;
}
span{
  color: pink;
  font-family: 'Alex Brush', sans-serif;
}
.hey {
  padding: 50px;
  transform: translate -40%, -40%;
  text-align: center;
}
#about, #projects, #contacts {
  text-align: center;
}
emma {
  display: flex;
  flex-wrap: wrap;
  text align: center;
}
#one, #two, #three {
  padding: 5%;
}
.about {
  background-color: grey;
}
body {
  background-image: url("wine.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration-color: white;
}
