nav ul li {
  display: inline;
}
nav ul li a {
  padding:20px;
  color:pink;
}
nav {
  float:right;
  position: fixed;
}

.intro {
  position: relative;
  text-align: center;
  color: grey;
}
span{
  color: pink;
  font-family: fantasy;
}
