nav ul li {
  display: inline;
  padding-left: 200px;
}
nav ul li a {
  color: #a3a2a1;
  text-transform: uppercase;
}
.intro {
  position: relative;
  text-align: center;
  color: #ceaf12;
}
span{
  color: #e09731;
  font-family: 'Alex Brush', sans-serif;
}
.hey {
  padding: 50px;
  transform: translate -40%, -40%;
  text-align: center;
}
#about, #projects, #contacts {
  text-align: center;
}
emma {
  display: flex;
  flex-wrap: wrap;
  text align: center;
  background-color: #e09731;
}
#one, #two, #three {
  padding: 5%;
}
.about p {
  color: black;
}
/* body {
  background-image: url("wine.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
} */
p {
  color: #e2d3be;
}
.contacts h2 {
  color
}
body{
  background-color: #aa8561;
  font-size: 20px;
}
#memo {
  text-align: center;
}
#memo img{
  border-radius: 250px;
}
.contaacts {
text-align: center;
}
